
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* header */

.cabeza {
    background-color: #E1E6C6;
    height: 10vh;
}

.logoEcheveria {
    width: 23%;
}

.cabeza div button {
    background-color: #A3AF9C;
}

.cabeza div div ul li {
    background-color: #A3AF9C;
    border: 1px outset #1A1A1A;
    border-radius: 10%;
    padding: 0.5rem;
    margin: 0rem 0.2rem;
    transition: all 1.5s;
}

.cabeza ul li a {
    text-decoration: none;
}

.cabeza ul li:hover {
    background-color: #D9C6E6;
}

.cabeza ul li ul li:hover {
    background-color: #D9C6E6;
}

.imagenFondo {
    background-image: url(../media/backgroundLila.jpg);
    background-position: center;
    background-size: 100%;
    height: 100vh;
}
