.formulario {
    align-content: left;
    border-color: green;
    width: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E1E6C6; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer{
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: #afd106; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contenedor{
    width: 100%;  
}
.row{
    display: flex;
}
.footer.column1{
    margin: 10px 10px 10px 10px;
}
.footer.column2{
    margin: 0px 10px 0px 10px;
}
.footer.column3{
    margin: 0px 10px 0px 10px;
}
.footer.column4{
    margin: 0px 10px 0px 10px;
}

    

